<?xml version="1.0" encoding="utf-8"?>
 <appSettings>
    <add key="SSO_LoginUrl" value="http://login.tainan.gov.tw/sso.aspx?ap=eip"/>
    <!--
    <add key="SSO_LoginUrl" value="login.aspx"/>
    -->
    <add key="SessionTimeOut" value="60" />
    <add key="FileUpload" value="c:\tmp\" />
    <add key="SMTP_Server" value="mail.cyut.edu.tw" />
    <add key="AdminMail" value="s9514608@cyut.edu.tw" />
    <add key="WebName" value="穎順科技-EIP入口網" />
    <add key="DeBUGMode" value="false" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="tw.gov.tncg.emsg.WS_mymsg" value="http://emsg.tncg.gov.tw/ws/WS_mymsg.asmx" />
    <add key="UseMyMsgWebService" value="false" />
    <add key="Wealthy_Url" value="http://163.17.20.112"/>
    <add key="Wealthy_WebReference.PeopleSign" value="/PeopleSign.asmx" />
    <add key="Wealthy2_WebReference.peopleAgent" value="/peopleAgent.asmx" />
    <add key="Wealthy3_WebReference.CardLog" value="/CardLog.asmx" />
    <add key="Wealthy_SSO_Path" value="/index_sso06.aspx" />
    <add key="tw.gov.tainan.login.WCF_Accounts" value="http://login.tainan.gov.tw/ws/WCF_Accounts.svc"/>
    <add key="tw.gov.tainan.login.WS_SSO" value="http://login.tainan.gov.tw/ws/WS_SSO.asmx"/>
    <add key="localhost.sso.TokenAuth" value="http://localhost:5453/NXEIP/SSO/TokenAuth.asmx" />
  </appSettings>
  