 .calendar
{
     width:96%;
     border-spacing:1px;
     margin:0 auto;
    
   
    border:0; 
     background-color:#cccccc; 
    text-align:center;    
}

 .calendar td,.calendar th
{
    padding:1px;
    text-align:center;
    background:#ffffff;
    font-size: 15px;
	color: #333333;
	text-decoration: none;    
}

 .calendar a 
{
     font-size: 15px;
	color: #333333;
	text-decoration: none;
}

 .calendar td:hover
{
      background-color:#888888;
    }


 .calendar .holiday
{
    background-color: #ebebeb;  
}





  .calendar .today
 {
    background-image: url(../image/a46.gif);
	background-repeat: repeat-x;
	border: 1px solid #330000;
    }
    
    
 .big-calendar-time
 {
     width:100%;
     border-spacing:1px;
     background-color:#dddddd; 
     text-align:center;
     font-size:13px;
     line-height:20px;
     text-decoration:none;
     
  }
  
 .big-calendar-time td
  {
      padding:4px;
      background-color:#ffffff;
      height:20px; 
      }
  
.big-calendar-time th
  {
      background-color:#EBEBEB;
      
       color:#888888;
      font-weight:bold;
      width:12%;
      height:20px; 
     
  }
  
  
  
 .big-calendar-time .time
  {
       background-color:#eeeeee;
   }
   
   
   
 .big-calendar-time .holiday
   {
        background-color:#e8f3ff;
   }
   
 .big-calendar-time a
   {
     color:#888888;
     font-size:13px;
     line-height:20px;
     text-decoration:none;
   }