
.layoutDiv
{
    width:100%;
}




/*表格*/

.tableDiv table,.tableData
{
  width:100%;
  border-spacing:3px;
  background-color:#dddddd;
}

.tableDiv table th,.tableDiv table td,.tableData th,.tableData td
{
 color:#333333;
 font-size:13px;
 font-weight:bold;
 line-height:20px;
 text-decoration:none;
 background-color:#EFEFEF;
 padding:3px;
}


.tableDiv table td,.tableData td
{
font-weight:normal;
background-color:#EFEFEF;

}



.tableData tr:hover,.tableData tr:hover td,.tableDiv table tr:hover,.tableDiv table tr:hover td
{
       /*
       background-color:Yellow;
    */
}

.tableDiv .bottom
{
	margin:10px auto;
    text-align:center;
}

 /*場地表格*/
.place
{
    width:100%;
    border-spacing:1px;
    border:0;
    background-color:#cccccc;
}
.place th
{
    width:70px;
    background-color:#eeeeee;
    padding:1px;
    text-align:right;
    font-size: 13px;
    color: #666666;
    font-weight:normal;
    height:23px
}
.place td
{
    padding:1px;
    background-color:#ffffff;
    font-size: 13px;
    color: #666666;
}

