.imageButton span
{
 *positioned: relative;
 visibility:hidden;
/* for IE6 */  
 /*
 _visibility:visible;
 _filter:alpha(opacity=0);
 */
}



.edit
{
    
    background:url(../image/edit.gif) no-repeat;    
       border:0 none;
        height:18px;
        width:18px;
         cursor:hand;
         text-decoration:none;
  
}


.delete
{
    border:0 none;
    height:18px;
    width:18px;
    background:url(../image/delete.gif) no-repeat;  
     cursor:hand;
     text-decoration:none;
}

.alter
{
    border:0 none;
    height:18px;
    width:18px;
    background:url(../image/alter.gif) no-repeat;  
     cursor:hand;
     text-decoration:none;
}

.people
{
    border:0 none;
    height:18px;
    width:18px;
    background:url(../image/v05.gif) no-repeat;  
     cursor:hand;
     text-decoration:none;
}

.add
{
    border:0 none;
    height:18px;
    width:18px;
    background:url(../image/Add.gif) no-repeat;  
     cursor:hand;
     text-decoration:none;
}

.peruse
{
    border:0 none;
    height:18px;
    width:18px;
    background:url(../image/peruse.gif) no-repeat;  
     cursor:hand;
     text-decoration:none;
}

.icon
{
     background:url("../image/a14.gif");  
      background-repeat:no-repeat;
     line-height:1.3em;
     padding: 0px 0px 0px 20px;
     font-size:13px;
 }
 
 .icon-event
 {
     background:url("../image/c012.gif");  
      background-repeat:no-repeat;
     line-height:1em;
     padding: 0px 0px 0px 20px;
    
     }