@import url(reset.css);
@import url(eip-layout.css); /*版型配置*/
@import url(eip-menu.css);   /*MENU*/
@import url(eip-list.css);  /*版型配置*/
@import url(eip-table.css);  /*表格*/
@import url(eip-treeView.css); /*版型配置*/
@import url(eip-header.css);  /*版型配置*/
@import url(eip-tab.css); 
@import url(eip-nav.css); 
@import url(swfupload.css);  /*版型配置*/
@import url(thickbox.css);
@import url(eip-widget.css);  /*widget*/
@import url(jquery.treeview.css);
@import url(calendar.css);
@import url(eip-pager.css);
@import url(eip-image.css);
@import url(eip-block.css);  /*區塊類配置*/
@import url(eip-color.css);
@import url(eip-table-calendar.css); /*日栗*/
@import url(eip-Page-PersonalCalendar.css);
@import url(jquery-ui-1.8.2.custom.css);
@import url(ui.jqgrid.css);
@import url(ui.accordion.css);
@import url(jquery.autocomplete.css);
@import url("lytebox.css") screen;
@import url("eip-dialog.css");
@import url("eip-Page-Place.css");

body { margin: 0 auto; }

.input-login-1 {
	
	font-size: 13px;
	background-color: #FFFFFF;
	height: 19px;
	width: 140px;
	border: 1px solid #999999;
}
.input-login-2 {
	
	font-size: 13px;
	background-color: #FFFFFF;
	height: 19px;
	width: 74px;
	border: 1px solid #999999;
}
.login-a {
	
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}
.login-a:hover{
	color: #009900;
	text-decoration: underline;
}
.a01-13 {
	
	font-size: 13px;
	color: #666666;
}
.a01-13 a {
	font-weight: bold;
	text-decoration: none;
}
.a-letter {
	
	font-size: 13px;
	line-height: 20px;
	color: #888888;
	text-decoration: none;
}
.a-letter:hover {
	
	line-height: 20px;
	color: #009966;
	text-decoration: underline;
}
.a-letter-1 {
	
	font-size: 13px;
	line-height: 20px;
	color: #888888;
	text-decoration: none;
}
.a-letter-2 {
	
	font-size: 13px;
	line-height: 20px;
	color: #888888;
	text-decoration: none;
	font-weight: bold;
}
.a-letter-888888 {
	
	font-size: 13px;
	line-height: 20px;
	color: #888888;
	text-decoration: none;
}
.a-letter-888888:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.a-letter-ffffff {
	
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
.a-letter-ffffff:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.a-letter-Red {
	
	font-size: 13px;
	color: #FF0000;
	text-decoration: none;
}
.a-letter-Red:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.a-letter-Blue {
	
	font-size: 13px;
	color: #0033CC;
	text-decoration: none;
}
.a-letter-Blue:hover {
	
	color: #FFFFFF;
	text-decoration: none;
}
.a02-15 {
	
	font-size: 15px;
	color: #333333;
	text-decoration: none;
}
.a-day {
	background-image: url(../image/a46.gif);
	background-repeat: repeat-x;
	border: 1px solid #330000;
}

.a02-15-Red {
	
	font-size: 15px;
	color: #FF0000;
}
.a02-15-Blue {
	
	font-size: 15px;
	color: #0033CC;
}
.a03 {
	
	font-size: 15px;
	color: #999999;
	text-decoration: none;
}
.a03:hover {
	
	font-size: 15px;
	color: #006633;
	text-decoration: underline;
}
.a04 {
	
	font-size: 15px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.top-a {
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	
}
.top-a:hover {
	color: #333333;
	text-decoration: none;
	background-color: #FFFFFF;
}
.top-b {
	
	font-size: 15px;
	color: #666666;
	text-decoration: none;
}
.top-b:hover {
	
	color: #FFFFFF;
	text-decoration: none;
	background-color: #999999;
}
.top-b {
	
	font-size: 15px;
	color: #666666;
	text-decoration: none;
}
#Layer1 .top-b a {
	
	font-size: 15px;
	color: #666666;
	text-decoration: none;
}
#Layer1 .top-b a:hover {
	
	font-size: 15px;
	color: #FFFFFF;
	text-decoration: none;
}
#Layer2 .top-b a {
	
	font-size: 15px;
	color: #666666;
	text-decoration: none;
}
#Layer2 .top-b a:hover {
	
	font-size: 15px;
	color: #FFFFFF;
	text-decoration: none;
}
#Layer3 .top-b a {
	
	font-size: 15px;
	color: #666666;
	text-decoration: none;
}
#Layer3 .top-b a:hover {
	
	font-size: 15px;
	color: #FFFFFF;
	text-decoration: none;
}#Layer4 .top-b a {
	
	font-size: 15px;
	color: #666666;
	text-decoration: none;
}
#Layer4 .top-b a:hover {
	
	font-size: 15px;
	color: #FFFFFF;
	text-decoration: none;
}
.b01 {
	
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}
.a02-15-a {
	
	font-size: 15px;
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

.a-input {
	font-weight: bold;
	color: #666666;
	background-color: #eeeeee;
	border: 1px solid #666666;
	height: 20px;
	top: 2px;
	bottom: 1px;
	cursor: auto;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
.a02-15-a:hover{

	
	font-size: 15px;
	color: #CC0000;
}
.a-table-a {
	background-color: #FFFFFF;
}
.a-table-a:hover {
	background-color: #99C2AD;
}
.a-table-b {
	background-color: #eeeeee;
	padding: 3px;
	border: 1px solid #CCCCCC;
}.table-01 {
	
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.b-input {
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #CCCCCC;
	height: 22px;
	top: 2px;
	bottom: 1px;
	cursor: auto;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	font-size: 13px;
	background-image: url(../image/a47.gif);
}
.a-table-a1 {

	background-color: #EBEBEB;
}
.a-table-a1:hover {

	background-color: #99C2AD;
}
