

<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="../css/list.css">
<link type="text/css" rel="stylesheet" href="../css/layout.css">
<link type="text/css" rel="stylesheet" href="../css/setstyle.css">

<script src="js/noRightButton.js" language="javascript">&nbsp;</script>
<script src="js/mootools.js" language="javascript">&nbsp;</script>

</head>

<body>
<div id="FuncName">
<h1>系統管理∕權限群組</h1>
<div id="Nav"><a
	href="user_search.htm"
	target="">重設查詢</a> &nbsp;</div>
</div>
<div id="FormName">【使用者列表】 <br>

</div>
<div id="Page">
<form name="list" action="/FCUAdmin/gipadmin/list.do"><input
	type="hidden" name="listspec" value="UserGroupList.xml"><input
	type="hidden" name="kpsn" value="1"> 共 <em>7</em> 筆資料，
	第 
	<a href="#">1</a>
	<a href="#">2</a>
	<a href="#">3</a>
	
	頁
	</form>
<form target="_blank" name="list_fp" action="/FCUAdmin/gipadmin/list.do">
<input type="hidden" name="listspec" value="UserGroupList.xml"><input
	type="hidden" name="kpsn" value="1"><input name="pageSize"
	type="hidden"><input name="curPage" type="hidden"><input
	value="PatternList_fp" name="xslName" type="hidden"></form>
<script language="javascript">
    list_fp.pageSize.value = 15;
    list_fp.curPage.value = 1;
    </script></div>
<form name="reg" id="reg" method="post" action="">
<table id="ListTable">
	<tbody>

		<tr>
			<th>帳號</th>
			<th>姓名</th>
			<th>單位</th>
			<th>編輯</th>
			
		</tr>
		<tr>
			<td>system</td>
			<td>系統管理員</td>
			<td>系統管理</td>
			<td><a href="user_edit.htm">編輯</a></td>
		</tr>
		<tr>
			<td>system</td>
			<td>系統管理員</td>
			<td>系統管理</td>
			<td><a href="user_edit.htm">編輯</a></td>
		</tr>
		<tr>
			<td>system</td>
			<td>系統管理員</td>
			<td>系統管理</td>
			<td><a href="user_edit.htm">編輯</a></td>
		</tr>
		<tr>
			<td>system</td>
			<td>系統管理員</td>
			<td>系統管理</td>
			<td><a href="user_edit.htm">編輯</a></td>
		</tr>
		<tr>
			<td>system</td>
			<td>系統管理員</td>
			<td>系統管理</td>
			<td><a href="user_edit.htm">編輯</a></td>
		</tr>
		<tr>
			<td>system</td>
			<td>系統管理員</td>
			<td>系統管理</td>
			<td><a href="user_edit.htm">編輯</a></td>
		</tr>
		<tr>
			<td>system</td>
			<td>系統管理員</td>
			<td>系統管理</td>
			<td><a href="user_edit.htm">編輯</a></td>
		</tr>
		
	</tbody>

</table>
</form>
</body>
</html>

