.placeLayout
{
    width:97%;
    margin: 10px auto;   
}

.placeLayout .left
{
    float:left;
    width:210px;
 }
 
 .placeLayout .right
 {
     float:left;
     width:755px;
     margin:0px 0px 0px 20px   
     
  }







