.imageButton span
{
 *positioned: relative;
 visibility:hidden;
/* for IE6 */  
 /*
 _visibility:visible;
 _filter:alpha(opacity=0);
 */
}



.edit
{
    
    background:url(../image/edit.gif) no-repeat;    
       border:0 none;
        height:18px;
        width:18px;
         cursor:hand;
         text-decoration:none;
  
}


.delete
{
    border:0 none;
    height:18px;
    width:18px;
    background:url(../image/delete.gif) no-repeat;  
     cursor:hand;
     text-decoration:none;
}

