<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.TransactionAwareDataSourceProxy">
		<property name="targetDataSource" ref="baseDataSource" />
	</bean>


	<bean id="baseDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="weblogic.jdbc.db2.DB2Driver">
		</property>
		<property name="url" value="jdbc:bea:db2://163.17.20.106;DatabaseName=TRANS">
		</property>
		<property name="username" value="db2admin"></property>
		<property name="password" value="12345"></property>
	</bean>

	<bean id="baseSessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.DB2Dialect
				</prop>
				<prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider
				</prop>
				<prop key="hibernate.hibernate.cache.use_query_cache">true</prop>

				<prop key="hibernate.show_sql">true</prop>
				
                 
			</props>
		</property>
	    
		<property name="mappingLocations">
			<list>
				<value>classpath:idv/trans/model/*.hbm.xml</value>
			</list>
		</property>
		
		 </bean>
		<!-- 	
	 	<property name="mappingResources">
			<list>
				<value>com/hyweb/model/infouser/Infouser.hbm.xml
				</value>
			</list>
		</property>
	-->

	

	

<!--  

    <bean id="baseTranactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="baseSessionFactory" />
		</property>
	</bean>


	<bean id="baseServiceTarget" abstract="true" class="idv.trans.service.BaseService"></bean>
	
	<bean id="baseService" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" />

   
     
	
	-->
	
	<!-- 交易用的Service TEMPLATE
	
	<bean id="normalServiceTemplate" abstract="true" parent="baseService">
		<property name="transactionManager">
			<ref bean="baseTranactionManager" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,readOnly
				</prop>
				<prop key="insert*">PROPAGATION_REQUIRED,-Exception
				</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-Exception
				</prop>
				<prop key="update*">PROPAGATION_REQUIRED,-Exception
				</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-Exception
				</prop>
			</props>
		</property>
	</bean>

 -->
    <!-- 給ORMapping Util用的 -->
   

	
    
     <!-- 給ORMapping Util用的 -->


</beans>