<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	
  <!-- CRON排程的QUARTZ -->
	
	
	<bean id="cronTriggerBean"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="BatchQuartzBean" />
		</property>
		<property name="cronExpression">
			<value>0 0 22 * * ?</value>
		</property>
	</bean>

   	<bean id="BatchQuartzBean" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="idv.trans.service.batch.BatchJob" />


	</bean>

   <bean id="schedulerFactoryBean" 
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTriggerBean"/>
            </list>
        </property>
    </bean>

	

</beans>