<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	  
	
	<bean lazy-init="true" id="baseDAO" abstract="true" class="idv.trans.model.BaseDao">
		<property name="sessionFactory">
			<ref bean="baseSessionFactory" />
		</property>
	</bean>
	
	
	
	<bean lazy-init="true" id="UserinfoDAO" class="idv.trans.model.UserinfoDAO" parent="baseDAO" >
		
	</bean>
	<bean lazy-init="true" id="FileinfoDAO" class="idv.trans.model.FileinfoDAO" parent="baseDAO" >
	
	</bean>
	<bean lazy-init="true" id="DownloadDAO" class="idv.trans.model.DownloadDAO" parent="baseDAO" >
		
	</bean></beans>