<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	  
	
	
	
	
	
	<bean id="UserinfoDAO" class="idv.trans.model.UserinfoDAO" parent="baseDAO">
		
	</bean>
	<bean id="FileinfoDAO" class="idv.trans.model.FileinfoDAO" parent="baseDAO">
	
	</bean>
	<bean id="DownloadDAO" class="idv.trans.model.DownloadDAO" parent="baseDAO">
		
	</bean></beans>