<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="encodingFilter" name="encodingFilter"
		class="org.springframework.web.filter.CharacterEncodingFilter" abstract="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="encoding">
	<value>UTF-8</value>
</property>
		<property name="forceEncoding">
			<value>true</value>
		</property>
	</bean>
	
	
	
	
</beans>
