#calendarDiv {
	display: block;
	display: none;
	position: relative;
	border: 1px solid #009966;
}
#calendarDiv a {
	cursor: pointer;
}
#calendar {
    background: #23743e;
 	clear: both; 
	text-align: center;
	font-size: 105%;
}
#calendar, #linksTable {
	width: 180px;
}
#calendar .calendarHeader {
	background: #007341;
	border-bottom: 1px solid #444;
	color: #FDF26A;
}
#calendar .weekDaysTitleRow {
	background: #E7F8C0;
	color: #333;
}
#calendar .weekDaysRow {
	background: #fbffee;
    color: #666;
}
#calendar .weekDaysCell {
	color: #000;
	border: 1px solid #acd156;
}
#calendar .weekDaysCellOver {
	background: #FDF486;
    border: 1px solid #777;
}
#closeCalender {
	position: absolute;
	right: 0;
	bottom: 100%;
	margin-bottom: 1px;
	display: block;
	padding: 2px;
	cursor: pointer;
	font-size: 60%;
	background: #007341;
	color:#FFFFFF;
}
#closeCalender:hover {
	background:  #F0FBD7;
	color: #333;
}
#linksTable {
	background: #acd156;
}

#linksTable a {
	display: block;
 	color: #fff; 
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 80%;
	padding: 2px 5px;
}
#linksTable a:hover {
 	background: #F0FBD7; 
	color: #333;
}
#prevMonth {
	float: left;
}
#nextMonth {
	float: right;
}
#today {
	background: #acd156;
}
