 
 
.mlmenu {
	margin: 0 0 0 0;
	padding: 0 0 0 0; 
	
	
	}
    
  
.mlmenu img { border: 0; }
 
.mlmenu li a {
	color: #333333;
	text-decoration: none;
	height: 2em;
	font-size:15px;
	padding: .1em 1px;
	padding-left: 20px;
	border-top: 5px;
	line-height: 24px;
	}
 
.mlmenu li a:hover {
	color: #000000;
	font-size: 15px;
	line-height: 24px;
	text-decoration: none;
}
    
	.mlmenu ul {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		display: inline; }
 
		.mlmenu ul li {
			display: inline;
   position : relative; }


 /*Level 1 MENU 消除文字連結*/ 
 .mlmenu .imageMenu
{
	height: 56px;
	width: 101px;
	/*text-indent: -1px;*/
	
	display: inline-block;

	
	
	*zoom : 1;
	*display : inline;
	/*line-height: 0;*/
	/*font-size: 0;*/
	overflow: hidden;
	
    }
 

.mlmenu >ul >li >a {
	


	 }
 
.mlmenu  ul li a span
{
  visibility:hidden;
  
 }
 

 /* MENU 
#item2 { background: url(../image/a40.jpg) no-repeat; }
 
	#item2:hover { background: url(../image/a40-1.jpg) no-repeat; }
 
#item3 { background: url(../image/a39.jpg) no-repeat; }
#item3:hover { background: url(../image/a39-1.jpg) no-repeat; }
 */
 
 /*第二層MENU*/
.mlmenu ul li ul {
	/**/
	background-color: Transparent;
	
	
	width: 600px;
	
	#top: 81px;
	_top: 81px;
	
	
	position: absolute;
	left: -50px;
/*	padding-top:5px;*/
    padding-top:2px;
	margin-top: 0px;
	
	display: none; }
  /*第三層MENU*/
	.mlmenu ul li ul li ul {
	background-color: #ecf4db;
	width: 140px;

	#top: 0px;
	_top: 0px;
	left: 1px;
	list-style-type: none;
	z-index:1000;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	clear: both;
		}
/*第三層*/ 
.mlmenu ul li ul li ul li {
	clear:both;
	display: block;
	margin: 0px;
	padding-top: 2px;
}
 
/*
.mlmenu ul li ul li a span {
		
		background-image: url(../image/arrows.gif);
		background-position: center;
		background-repeat: no-repeat;
		height: 8px;
		width: 8px;
		padding: 0px 3px 0px 5px; }
 
 
*/


/*內頁使用的MENU*/

.submenu ul {
		clear:both;
		
		list-style-type: none;
		/*margin-top: 2px;*/
		margin:0px;
		padding:0px 0px 0px 0px;
		z-index:1000;
		line-height:30px;
		
}
 
.submenu ul li {
			clear:both;
			display:inline;
			
			margin: 0px 2px 0px 2px; 
			
}
				
.submenu ul li span{
		   background:url("../image/arrows.gif") no-repeat; 
           background-repeat:no-repeat; 
           padding:0px 0px 0px 15px;

}	
		
.submenu ul li a{
	vertical-align:middle;
	color:#333333;
	text-decoration:none;
 }
 .submenu ul li a:hover{
			color:#000000;    
}
