.pager
{
     clear: both;
    color: #999999;
    line-height: 150%;
    margin: 0 0 5px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    top: 10px;
    left: 0px;
}
    
.pager span span
{
     color: #ff0000;
    }
    
.pager a
{
    color: #999999;
    font-size: 15px;
    text-decoration:none;
}