body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../image/login-01.gif);
	background-repeat: repeat-x;
	background-position: top;
}
.input-login-1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #FFFFFF;
	height: 19px;
	width: 140px;
	border: 1px solid #999999;
}
.input-login-2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #FFFFFF;
	height: 19px;
	width: 74px;
	border: 1px solid #999999;
}
.login-a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}
.login-a a:hover{
	color: #009900;
	text-decoration: underline;
}
