
/*大外框*/
#calendarDiv {
	display: block;
	display: none;
	position: relative;
	border: 1px solid #496D91;
	
}
#calendarDiv a {
	cursor: pointer;
}

#calendar {
	background: #ddd;
	clear: both;
	text-align: center;
	font-size: 105%;
}
#calendar, #linksTable {
	width: 180px;
}
/*2010底色*/
#calendar .calendarHeader {
	background: #24849F;
	border-bottom: 1px solid #496d91;
	color: #fff;
}
/*日一二底色*/
#calendar .weekDaysTitleRow {
	/*background: #777;*/
	background: #D4D0C8;
	color: #000;
}
/*cell底色*/
#calendar .weekDaysRow {
	/*background: #eee;*/
	background: #fff;
	color: #666;
}
/*cell*/
#calendar .weekDaysCell {
	color: #000;
	/*border: 1px solid #ddd;*/
	border: 1px solid  #496d91;
}
#calendar .weekDaysCellOver {
	/*background: #fff;*/
	background:#FEF485;
    border: 1px solid #777;

	
}
#closeCalender {
	position: absolute;
	right: 0;
	bottom: 100%;
	margin-bottom: 1px;
	display: block;
	padding: 2px;
	cursor: pointer;
	font-size: 60%;
	background: #F0F8FF;;
}
#closeCalender:hover {
	background: #30459A;
	color: #fff;
}
#linksTable {
	background: #808BB5;
}
/*link word color*/
#linksTable a {
	display: block;
	color: #fff;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 80%;
	padding: 2px 5px;
}
#linksTable a:hover {
	background: #F0F8FF;
	color: #333;
}
#prevMonth {
	float: left;
}
#nextMonth {
	float: right;
}
#today {
	background:#7EDBE2;
}
ock;
	padding: 2px;
	cursor: pointer;
	font-size: 60%;