 .calendar
{
	width:239px;
	border-spacing:1px;
	border:0;
	background-color:#cde985;
	text-align:center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;

}

 .calendar td, .calendar th
{
	padding:1px;
	text-align:center;
	background:#ffffff;
	font-size: 15px;
	color: #999999;
	text-decoration: none;
	font-weight: normal;
}

 .calendar a 
{
	font-size: 15px;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
}
.calendar .head {
	font-size: 15px;
	color: #666666;
	font-weight: bold;
	text-align: center;
}
.calendar .headholiday {
	font-size: 15px;
	font-weight: bold;
	color: #666666;
	text-align: center;
	background-color: #EAF7CA;
}


 .calendar td:hover
{
	background-color:#87b757;
	font-size: 15px;
	color: #333333;
    }


 .calendar .holiday
{
	background-color: #eaf7ca;
}





  .calendar .today
 {
	background-image: url(../image/a46.gif);
	background-repeat: no-repeat;
    }
    
    
 .big-calendar-time ,.event-list
 {
	width:100%;
	border-spacing:1px;
	background-color:#CDE985;
	text-align:center;
	font-size:13px;
	line-height:20px;
	text-decoration:none;
     
  }
  
 .big-calendar-time td,.event-list td
  {
      padding:4px;
      background-color:#ffffff;
      height:20px; 
      text-align:left;
      }

  
  
  .event-list th
  {
	background-color:#EBEBEB;
	color:#888888;
	width:100px;
      
      }
  
  
.big-calendar-time th
  {
	background-color:#EAF7CA;
	color:#888888;
	font-weight:bold;
	width:12%;
	height:20px;
     
  }
  
  
  
 .big-calendar-time .time
  {
       background-color:#eeeeee;
   }
   
   
   
 .big-calendar-time .holiday
   {
	background-color:#fefee7;
   }
   
 .big-calendar-time a
   {
     color:#888888;
     font-size:13px;
     line-height:20px;
     text-decoration:none;
   }  
.big-calendar-route a {
	font-size: 13px;
	line-height: 20px;
	color: #888888;
	text-decoration: none;
}


.big-calendar-route {
	border-spacing:1px;
	font-size: 13px;
	line-height: 20px;
	background-color: #cde985;
	width: 100%;
	text-decoration: none;
}
.big-calendar-routeDIV {
	float: left;
	width: 100%;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
}


.big-calendar-route td{
	padding:4px;
	background-color:#ffffff;
	text-align:left;
	width: 82%;
	text-decoration: none;	
}
.big-calendar-route .title_time
  {
	background-color:#EAF7CA;
	color:#888888;
	font-weight:bold;
	width:18%;
	text-decoration: none;