/* AJAX - TabContainer */
.ajax__tab_default .ajax__tab_header /*整體按鈕底*/{
 background-image: url(images/ajax__tab_head.jpg);
 background-repeat: repeat-x;
 background-position: bottom;
 font-size: 12px;
 font-family: "新細明體";
}

.ajax__tab_default .ajax__tab_body /*資料區*/{
 font-family:"新細明體";/* 文字字體*/
 border:1px solid #1D75BB;/*邊框*/
 border-top:0;
 padding: 8px; /*文字與邊框間隔*/
 font-size: 12px;/*文字大小*/
 background-color: #EEF2F2;
 background-image: url(images/ajax__tab_body.jpg);
 background-repeat: repeat-x;
 background-position: top;
}
/*預設 ------------------------------*/
.ajax__tab_default .ajax__tab_inner /*左邊*/{
padding-left:9px;/*左邊距離*/
background:url(images/ajax__tab_default_01.jpg) no-repeat;/*背景圖片，不重複*/}

.ajax__tab_default .ajax__tab_tab /*中間*/{
 background:url(images/ajax__tab_default_02.jpg) repeat-x; /*文字與圖片邊間隔*/
 margin:0;/*邊界為0*/
 padding-top: 11px;/*文字上間隔*/
 padding-right: 1px;/*文字右間隔*/
 padding-bottom: 14px;/*文字下間隔*/
 padding-left: 1px;
 /*上+下+文字大小= 圖片高度*/}

.ajax__tab_default .ajax__tab_outer /*右邊*/{
 background:url(images/ajax__tab_default_04.jpg) no-repeat right;/*背景圖片，不重複，靠右對齊*/
 padding-right: 5px;/*右邊距離*/
}

/*滑鼠經過------------------------------*/
.ajax__tab_default .ajax__tab_hover .ajax__tab_inner /*左*/{
 background-image: url(images/ajax__tab_hover_01.jpg);
 background-repeat: no-repeat;
}

.ajax__tab_default .ajax__tab_hover .ajax__tab_tab /*中*/{
 color: #006699;/*文字顏色*/
 background-image: url(images/ajax__tab_hover_02.jpg);
 background-repeat: repeat-x;
}
 
.ajax__tab_default .ajax__tab_hover .ajax__tab_outer /*右*/{
 background-image: url(images/ajax__tab_hover_04.jpg);
 background-repeat: no-repeat;
 background-position: right;
}

/*使用中------------------------------*/

.ajax__tab_default .ajax__tab_active .ajax__tab_inner /*使用中-左*/{
 background-image: url(images/ajax__tab_active_01.jpg);
 background-repeat: no-repeat;
}


.ajax__tab_default .ajax__tab_active .ajax__tab_tab /*使用中-中*/{
 color: #FFFFFF;/*文字顏色*/
 background-image: url(images/ajax__tab_active_02.jpg);
 background-repeat: repeat-x;
}
 
.ajax__tab_default .ajax__tab_active .ajax__tab_outer/*右*/{
 background-image: url(images/ajax__tab_active_04.jpg);
 background-repeat: no-repeat;
 background-position: right;
}


.tabHeader
{
     display:inline;
     margin:0px 0px 0px 0px;
     position:relative;
    }
.tabHeader-bigmonth1 {
	height: 32px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.tabHeader-bigmonth {
	height: 29px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	
}
.tabHeader-bigmonth a {
	font-size: 15px;
	color: #333333;
	text-decoration: none;
}
.tabHeader-bigmonth a:hover {
	font-size: 15px;
	color: #FF0000;
	text-decoration: none;
}



.tabHeader-bigmonth .t1 {
	background-image: url(../image/b02.gif);
	background-repeat: no-repeat;
	height: 29px;
	width: 17px;
	float: left;
}
.tabHeader-bigmonth .t2 {
	background-image: url(../image/b02-1.gif);
	background-repeat: repeat;
	height: 29px;
	width: 926px;
	float: left;
	font-size: 15px;
	color: #666666;
}
.tabHeader-bigmonth .t21 {
	height: 26px;
	width: 140px;
	float: left;
	padding-top: 3px;
}
.tabHeader-bigmonth .t22 {
	height: 26px;
	width: 220px;
	padding-top: 3px;
	text-align: center;
	float: left;
	margin-left: 220px;
}
.tabHeader-bigmonth .t23 {
	float: right;
	width: 110px;
	height: 26px;
	padding-top: 3px;
}
.tabHeader-bigmonth .line {
	background-image: url(../image/line2.gif);
	background-repeat: no-repeat;
	padding-right: 10px;
	padding-left: 10px;
	height: 14px;
}
.tabHeader-bigmonth ul li {
	float: left;
	padding-right: 10px;
}

.tabHeader-bigmonth .p1 {
	background-image: url(../image/print.gif);
	background-repeat: no-repeat;
	font-size: 15px;
	color: #333333;
}
.tabHeader-bigmonth ul {
	list-style-type: none;
}

.tabHeader-bigmonth .a-letter-bm {
	font-size: 15px;
	color: #333333;
	padding-left: 20px;
}




.tabHeader-bigmonth .t3 {
	background-image: url(../image/b02-2_square.gif);
	background-repeat: no-repeat;
	height: 29px;
	width: 17px;
	float: left;
}    
.tabHeader .currentTab,.tabHeader .Tab
{
	display:inline-block;

  *display: inline;
	position:relative;
	height:29px;
	margin:0px;

  *margin:0px 0px 0px 4px;  
	width:auto;
  
 }
 
 .tabHeader .currentTab
 {

     }
 .tabHeader .Tab
 {

 }
 
 
 
 .tabHeader .currentTab div,.tabHeader .Tab div
 {
      display:inline-block;
      *display: inline;
 }
     
     
   .tabHeader .t1
   {
   float:left;
   width:13px;
   height:29px; 
   }  
   
    .tabHeader .t2
   {
	float:left;
	vertical-align:middle;
	font-size:13px;
	line-height :29px;
	background-image: url(../image/b02-1-a.gif);
   }  

   
   .tabHeader .t2 a
   {
        
        color:#999999;

        font-size:15px;
        font-weight:bold;
        text-decoration:none;
       }
   
    .tabHeader .t3
   {
    /*float:right;*/
    float:left;
    width:14px;
  
    height:29px;
   }  
     
     
  .tabHeader .currentTab .t1
  {
   
   background-image:url(../image/b02.gif);
     
  }
.tabHeader .currentTab .t2 {
	background-image: url(../image/b02-1.gif);
}
 
   .tabHeader .currentTab .t3
  {
   
    background-image:url(../image/b02-2.gif);
    background-position:right;
    
  }
  
   .tabHeader .Tab .t1
  {
   
   background-image:url(../image/b02-a.gif);
     
  }
  
   .tabHeader .Tab .t3
  {
   
    background-image:url(../image/b02-2-a.gif);
    background-position:right;
  }




.tabHead {
	width:245px;
	height:29px;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.tabHead ul li {
	float:left;
	margin-left:4px;
	text-decoration: none;
	margin-right: 0px;
}
.tabHead ul li a {
	display:block;
	width:44px;
	height:29px;
	line-height:28px;
	text-align:center;
	font-size:14px;
	background-image: url(../image/b1-1.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #999999;
	text-decoration: none;
}
.tabHead ul li a:hover {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(../image/b1-2.gif);
	text-decoration: none;
	color: #333333;
}
.tabHead ul li a:current {
	font-weight:bold;
	color:#fff;
	background-image: url(images/b1-1.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 29px;
	width: 44px;
}
.tabHead ul li a#ctl00_ContentPlaceHolder1_current {
	background-image: url(../image/b1.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 29px;
	width: 44px;
	text-decoration: none;
}
.tabHead_big {
	width:100px;
	height:29px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-decoration: none;
}

.tabHead_big ul li {
	float:left;
	margin-left:4px;
	text-decoration: none;
	margin-right: 0px;
}
.tabHead_big ul li a {
	display:block;
	width:44px;
	height:29px;
	line-height:28px;
	text-align:center;
	font-size:14px;
	background-image: url(../image/b1-1.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #999999;
	text-decoration: none;
}
.tabHead_big ul li a:hover {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(../image/b1-2.gif);
	text-decoration: none;
	color: #333333;
}
.tabHead_big ul li a:current {
	font-weight:bold;
	color:#fff;
	background-image: url(images/b1-1.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 29px;
	width: 44px;
}
.tabHead_big ul li a#ctl00_ContentPlaceHolder1_current {
	background-image: url(../image/b1.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 29px;
	width: 44px;
	text-decoration: none;
}
