div .tree
{
    /*border: 1px solid #000000;*/
    background-color:White;
    width:250px;
    height:250px;
    overflow: auto;

}
div .DepartView
{
   /* border: 3px solid #999999; */
     background-color:White;
     margin:5px 10px 5px 10px;
     padding:10px;
 
     text-align:left;
    

}




div .tree .selected
{
    
    background-color:Yellow;
    }