/*ªí®æ*/

.tableData 
{
     
}


.tableData th,.tableData td
{
color:#888888;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
font-weight:bold;
line-height:20px;
text-decoration:none;
background-color:#eeeeee;
    
}

.tableData td
{

font-weight:normal;
    
    }





.tableData tr:hover,.tableData tr:hover td
{ 
       background-color:Yellow;
    
    }




table .leftheaderbg
{
   width:17px;
   background-image:url(../image/b02.gif);
  
}

table .rightheaderbg
{
   width:17px;
   background-image:url(../image/b02-2.gif);
}

table .headerbg 
{
     background-image:url(../image/b02-1.gif);
}


table .leftfootbg
{
    width:17px;
   background-image:url(../image/b02-3.gif);
}


table .footbg 
{
     background-image:url(../image/b02-4.gif);
}

table .rightfootbg
{
    width:17px;
   background-image:url(../image/b02-5.gif);
}


.nav
{
   width:97%;
    background:url("../image/b01-1.gif"); 
    padding:3px 0px 3px 0px;
    margin:5px 10px 5px 15px;
    color:#666666;
        font-size:13px;
    text-decoration:none;
}

.nav span
{
  line-height:1.3em;
   background:url("../image/b01.gif") no-repeat; 
   background-repeat:no-repeat;
   padding:3px 0px 3px 17px;
    
}

.tableDiv
{

    width:100%;    
}

.tableDiv .header
{
   width:17px;
   background-image:url(../image/b02-5.gif);
}