<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯這個檔案以外，您也可以使用 
    Web 管理工具設定您的應用程式設定值。請使用 
    Visual Studio 中的 [網站] -> [ASP.NET 組態] 選項。
    如需完整的設定與註解清單，請參考 
    machine.config.comments (通常位於 
    \Windows\Microsoft.Net\Framework\v2.x\Config) 
-->
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
	</configSections>
	<!--快取機制 START-->
	<system.webServer>
		<handlers>
			<remove name="ChartImageHandler"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="600" maximumElementsInCacheBeforeScavenging="10000" numberToRemoveWhenScavenging="10" backingStoreName="Isolated Storage Cache Store"/>
		</cacheManagers>
		<backingStores>
			<add name="Isolated Storage Cache Store" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" encryptionProviderName="" partitionName="NXEIP"/>
			<add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore"/>
		</backingStores>
	</cachingConfiguration>
	<!--快取機制 End-->
	<!--資料庫移出設定-->
	<connectionStrings configSource="web.db.config"/>
	<appSettings>
		<add key="SessionTimeOut" value="60"/>
		<add key="FileUpload" value="c:\tmp\"/>
		<add key="LogoutAuto" value="false"/>
		<add key="LogoutPath" value="login.aspx"/>
		<add key="SMTP_Server" value="mail.cyut.edu.tw"/>
		<add key="AdminMail" value="s9514608@cyut.edu.tw"/>
		<add key="WebName" value="穎順科技-EIP入口網"/>
		<add key="DeBUGMode" value="True"/>
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
		<add key="tw.gov.tncg.emsg.WS_mymsg" value="http://emsg.tncg.gov.tw/ws/WS_mymsg.asmx"/>
		<add key="UseMyMsgWebService" value="false"/>
		<add key="Wealthy_WebReference.PeopleSign" value="http://163.17.20.112/PeopleSign.asmx"/>
		<add key="Wealthy2_WebReference.peopleAgent" value="http://163.17.20.112/peopleAgent.asmx"/>
        <add key="Wealthy3_WebReference.CardLog" value="http://163.17.20.112/CardLog.asmx"/>
		<add key="Wealthy_SSO_Path" value="http://163.17.20.112/index_sso06.aspx"/>
	    
	</appSettings>
	<system.web>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="SessoinCheck" type="NXEIP.HttpModule.SessionCheckModule"/>
		</httpModules>
		<!--上傳檔案限制 -->
		<httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
		<!-- 
            設定 compilation debug="true" 會將偵錯 
            符號插入編譯過的頁面。因為這樣會
            影響效能，所以只有在開發期間才能將
            這個值設定為 true。
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
			<buildProviders>
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
			</buildProviders>
		</compilation>
		<!--
            <authentication> 區段可以用來設定 ASP.NET 
            使用的安全性驗證模式，以識別連入的 
            使用者。 
        -->
		<authentication mode="Windows"/>
		<!--
            <customErrors> 區段可以用來設定 
            在執行要求期間發生未處理 
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁，
            以取代錯誤堆疊追蹤。
 -->
		<customErrors mode="Off" defaultRedirect="~/error/error2.aspx" redirectMode="ResponseRewrite">
			<error statusCode="404" redirect="~/error/error2.aspx"/>
		</customErrors>
		<!--
            使用SQL Server 儲存session資料
      -->
		<sessionState mode="SQLServer" timeout="30" allowCustomSqlDatabase="true" sqlConnectionString="NXEIPConnectionString"/>
		<webServices>
			<protocols>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
				<add name="HttpPostLocalhost"/>
				<add name="HttpSoap"/>
			</protocols>
		</webServices>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add namespace="NXEIP.WebControls" tagPrefix="NXEIP"/>
			</controls>
		</pages>
	</system.web>
	<!-- 
        需要 system.webServer 區段才能在 Internet Information Services 7.0 下
        執行 ASP.NET AJAX。舊版的 IIS 則不需要。
-->
</configuration>
