<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings >
  <add name="NXEIPConnectionString" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=NXEIP;Persist Security Info=True;User ID=sa;Password=abc12345" providerName="System.Data.SqlClient" />
  <add name="NXEIPEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=NXEIP;Persist Security Info=True;User ID=sa;Password=abc12345;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
