/* CSS Document */
div#container div.tabpanel{
	clear: both;
	width:100%;
	float:left; /* 解決firefox tab內的資料少於圖示高度外框會往上縮的問題 */
}


div#container div.tabpanel ul.tablist {
	margin: 0px;
	padding:2px 0 0 5px;
	list-style-type: none;
	background-image: none;
}

div#container div.tabpanel li.tab {
	background-image: url(/gipadmin/images/PanelsTab_Leftbg.gif);
	background-repeat: no-repeat;
	background-position: left top;	
	float: left;
	display:block;
	padding:0px 0 0px 5px;	
	margin:0 0 0 2px;
	border:0px none;
	font-weight: normal;
}
div#container div.tabpanel li.tab span{
	text-align:center;
	background-image: url(/gipadmin/images/PanelsTab_Rightbg.gif);
	background-repeat: no-repeat;
	background-position: right top;
	font-size: 12px;
	color: #333333;
	margin:0 0 0 5px;
	display:block;
	padding:6px 8px 2px 0px;
	cursor: hand;	

}



div#container div.tabpanel li.selected {
  background-image: url(/gipadmin/images/PanelsTab_Leftbg2.gif);
  background-repeat: no-repeat;
  background-position: left top;
  float: left;
  display:block;
  margin:0 0 0 2px;
  padding:0px 0 0px 5px;
  border-bottom: 0px none;
  color: black;
}
div#container div.tabpanel li.selected span{
	text-align:center;
	background-image: url(/gipadmin/images/PanelsTab_Rightbg2.gif);
	background-repeat: no-repeat;
	background-position: right top;
	font-size: 12px;
	color: #CC3300;
	display:block;
	margin:0 0 0 5px;
	padding:6px 8px 2px 0px;
	font-weight: bold;
	cursor: hand;
}


div#container div.tabpanel div.tabpanel {
	clear: both;
	width:98%;
	border: solid 1px #ddd;
	background-color: #FFFFFF;
	background-image: url(/gipadmin/images/ajax_bodybg.gif);
	background-repeat: repeat-x;
	background-position: 0px top;
	margin:0 0 10px 0;
	padding:5px 5px 0px 5px;
}
/*
div#container div.tabpanel div.tabpanel ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div#container div.tabpanel div.tabpanel h3 {
  margin: 0;
  padding: 0;
  margin-bottom: .25em;
}
*/

