.edit
{
   background:url(../image/edit.gif) no-repeat;    
    
}

.delete
{
    
    background:url(../image/delete.gif) no-repeat;  
}
.delete
{
    
    background:url(../image/delete.gif) no-repeat;  
}
.delete
{
    
    background:url(../image/delete.gif) no-repeat;  
}
.delete
{
    
    background:url(../image/delete.gif) no-repeat;  
}
.delete
{
    
    background:url(../image/delete.gif) no-repeat;  
}