.imageButton >span
{
 *positioned: relative;
 visibility:hidden;
 _visibility:visible;/* for IE6 */  
 _filter:alpha(opacity=0);/* for IE6 */
}



.edit
{
    
    background:url(../image/edit.gif) no-repeat;    
    width:18px;
    height:16px;
    text-decoration:none;
}


.delete
{
    
    background:url(../image/delete.gif) no-repeat;  
}
