<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	  
		
	<bean id="LoginService" class="idv.trans.service.index.LoginService">
	</bean>
	<bean id="DownloadService" class="idv.trans.service.download.DownloadService">
	</bean>
	<bean id="UploadService" class="idv.trans.service.upload.UploadService">
	</bean>
	  <!--使用者項目	  -->
	<bean id="UserService" class="idv.trans.service.admin.UserService"/>
		
	
	
</beans>