<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	  
		
	
	 
	
	
	
	
	<import resource="classpath:applicationContext-filter.xml"/>
    <import resource="classpath:applicationContext-util.xml"/>
	<import resource="classpath:applicationContext-Perf4j.xml"/>
	
	<import resource="classpath:applicationContext-system.xml"/>
<!--	
	<import resource="classpath:applicationContext-Infouser.xml"/>
	
	
	<import resource="classpath:applicationContext-Sendmail.xml"/>
		
	<import resource="classpath:applicationContext-Quartz.xml"/>
	
-->
</beans>