

.widget {
  /*margin: 1em; */
  
}
.widget-menu
{
 position:relative;
 float:right;
}

.widget-collapselink
{
     display: inline-block; /* Or float left, whichever is necessary... */
  width: 16px;
  height: 16px;
font-size:0;
     
     background: url(../image/collapse.png) no-repeat;
     text-decoration:none;
     text-indent:-1px;
}
.widget-closelink
{
     display: inline-block; /* Or float left, whichever is necessary... */
  
font-size:0;
     
     
     background: url(../image/close.png) no-repeat;
     width: 16px;
  height: 16px;
        text-decoration:none;
        text-indent:-1px;
}



.widgetEdit 
{
    background-color:#99C2AD;
    
    padding-top:5px;
    padding-top:5px;
     
}
    
.widget .widget-content
{
    background-color:#FFFFFF;
}


.widget-placeholder {
  color: #000;
  /*margin: 1em;*/
  background-color: #000000;
}




.dock
{
    position:fixed;
    bottom: 0;
     margin: 0;
     padding: 0;
     direction:ltr;
    height:auto;
    position:fixed;
    right:0;
    z-index:99;
    background-color:#D8D8D8;
    color:#555555;
    /*border: dashed 1px #000000;*/
    }





.widgetfunc
{
    position:fixed;
    bottom: 61px;
    right:0;
    background-color:#D8D8D8;
    
    display:none;
    width:187px;
}



.widgetfunc h2
{
     background: url("widget/Widget-05.jpg") no-repeat;
     width: 187px;
     height: 58px;
     display:block;
}

.widgetfunc h2 span
{
      visibility:hidden;
}





.widgetfunc ul
{
      background-image: url("widget/Widget-06.jpg");
      background-repeat:repeat-y;
      width: 187px;    
}



.widgetfunc ul li
{
       margin-left:20px;    
}


.widgetfunc .footer
{
    background-image: url("widget/Widget-08.jpg");
    width: 187px;
    height:20px;
}



.movable
{
     border: dashed 1px #000000;
}

.controlPanel
{
     clear:both;
      width:187px;
    }

.controlPanel .head
{
     background-image:url("widget/Widget-01.gif");
     width:187px;
     height:31px;
     background-repeat:no-repeat;   
}



.controlPanel ul
{
      margin:0px;
      padding:0px;
    }

.controlPanel ul li
{
    margin:0px;
      padding:0px;
   display: inline;
   position : relative;
}

.controlPanel .save
{
    
      margin:0px;
      padding:0px;
     display:inline-block;
     overflow:hidden;
     background-image:url("widget/Widget-02.gif");
     width:62px;
     height:30px;
     float:left;
     background-repeat:no-repeat;   
}


.controlPanel .save:hover
{
    
   
     background-image:url("widget/Widget-02-1.gif");
        
}

.controlPanel .setting
{
      margin:0px;
      padding:0px;
    display:inline-block;
     overflow:hidden;
     background-image:url("widget/Widget-03.gif");
     width:54px;
     height:30px;
       float:left;
     background-repeat:no-repeat;    
}

.controlPanel .setting:hover
{
     
   
     background-image:url("widget/Widget-03-1.gif");
  
}
.controlPanel .widget
{
      margin:0px;
      padding:0px;
     display:inline-block;
     overflow:hidden;
     background-image:url("widget/Widget-04.gif");
     width:71px;
     height:30px;
       float:left;
     background-repeat:no-repeat;   
}

.controlPanel .widget:hover
{
     
     background-image:url("widget/Widget-04-1.gif");
   
}


.controlPanel .save span,.controlPanel .setting span,.controlPanel .widget span
{
       visibility:hidden;
}

