.calendar-big
{
	width:100%;
	border-spacing:1px;
	background-color:#cde985;
	text-align:center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.calendar-big td a {
	font-size: 13px;
	color: #333333;
	text-decoration: none;
}

.calendar-big .headtitle {
	font-size: 15px;
	color: #333333;
	text-align: center;
	font-weight: bold;
	background-color: #EAF7CA;
	height: 20px;
	padding: 4px;
}
.calendar-big .month {
	font-size: 15px;
	color: #333333;
	padding-left: 4px;
	padding-top: 4px;
}
.calendar-big .month:hover {
	font-size: 15px;
	color: #FF0000;
	text-decoration: none;
}

.calendar-big .othermonth {
	font-size: 15px;
	color: #999999;
	text-align: left;
	vertical-align: top;
	padding-top: 4px;
	padding-left: 4px;
}
.calendar-big .othermonth:hover {
}

 .calendar-big .holiday_bg
{
	background-color: #FDFDD5;
	height: 50px;
	text-align: left;
	vertical-align: top;
	padding-top: 4px;
	padding-left: 4px;
}
.calendar-big .othermonth:hover {
	color: #FF0000;
	font-size: 15px;
}


 .calendar-big .Nholiday_bg
{
	background-color: #FFFFFF;
	height: 50px;
	vertical-align: top;
	text-align: left;
	padding-top: 4px;
	padding-left: 4px;
}

.calendar-big .today
{
	height: 17px;
	border: 1px solid #666666;
	text-align: left;
	vertical-align: top;
}


.calendar
{	width:239px;
	border-spacing:1px;
	border:0;
	background-color:#cde985;
	text-align:center;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: 141px;
}
.calendar .head {
	text-align:center;
	position:relative;
	height:30px;
	background-image: url(../image/a43b.gif);
	background-repeat: no-repeat;
	vertical-align: middle;
	color: #FFFFFF;
}

.calendar td a {
	font-size: 13px;
	color: #333333;
	text-decoration: none;
}

.calendar .headtitle {
	font-size: 15px;
	color: #333333;
	text-align: center;
	font-weight: bold;
	background-color: #EAF7CA;
}
.calendar .month {
	font-size: 15px;
	color: #333333;
}
.calendar .month:hover {
	font-size: 15px;
	color: #FF0000;
	text-decoration: none;
}

.calendar .othermonth {
	font-size: 15px;
	color: #999999;
}
.calendar .othermonth:hover {
}

.calendar .headholiday {
	font-size: 15px;
	color: #666666;
	text-align: center;
	background-color: #EAF7CA;
}

.calendar .holiday_bg
{
	background-color: #FDFDD5;
	height: 19px;
}
.calendar .othermonth:hover {
	color: #FF0000;
	font-size: 15px;
}

 .calendar .Nholiday_bg
{
	background-color: #FFFFFF;
	height: 19px;
}

.calendar .today
{
	background-image: url(../image/a46.gif);
	background-repeat: repeat;
	height: 17px;
	border: 1px solid #666666;
}
    
    
 .big-calendar-time 
 {
	width:100%;
	border-spacing:1px;
	background-color:#CDE985;
	text-align:center;
     
  }
.big-calendar-time td a {
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}
  
  
 .big-calendar-time .title_time
  {
	font-size: 13px;
	color: #333333;
	font-weight: bold;
   }

 
   
   
 .big-calendar-time .row_time
   {
	font-size: 13px;
	color: #888888;
   }


.big-calendar-time .title_time_bg {
	background-color: #eaf7ca;
	height: 50px;
	width: 12%;
	padding: 4px;
}
.big-calendar-time .title_schedule_bg {
	background-color: #eaf7ca;
	height: 20px;
	width: 88%;
	padding: 4px;
}
.big-calendar-time .row_schedule {
	font-size: 13px;
	color: #333333;
	
}
.big-calendar-time .row_scheduleT {
	font-size: 13px;
	color: #009966;
}

.big-calendar-time .row_holiday_bg {
	background-color: #fefee7;
	padding: 4px;
	height: 20px;
	text-align: left;
}
.big-calendar-time .row_Nholiday_bg {
	background-color: #ffffff;
	text-align: left;
	padding: 4px;
}
   

.big-calendar-route {
	border-spacing:1px;
	font-size: 13px;
	line-height: 20px;
	width: 100%;
	text-decoration: none;
	background-color: #cde985;
}
.big-calendar-route .title {
	color: #333333;
	font-size: 13px;
	font-weight: bold;
}
.big-calendar-route td a {
	font-size: 13px;
	color: #888888;
}

.big-calendar-route .row_time
  {
	color:#333333;
	text-decoration: none;
	font-size: 13px;
	text-align: center;
	}

	
.big-calendar-route .row_schedule
  {
	color:#333333;
	text-decoration: none;
	font-size: 13px;
	text-align: left;
	}	

	

.big-calendar-route .title_time_bg {
	background-color: #EAF7CA;
	width: 10%;
	text-align: center;
}


.big-calendar-route .title_schedule_bg {
	background-color: #EAF7CA;
	width: 90%;
	text-align: center;
	padding: 1px;
	height: 20px;
}
.big-calendar-route .row_bg {
	background-color: #FFFFFF;
	text-align: center;
	padding: 4px;
	height: 20px;
}



.big-calendar-route .row_bgc {
	text-align: left;
	padding: 4px;
	height: 20px;
	background-color: #FFFFFF;
}
