@charset "utf-8";
/*維修登錄*/
.maintain {
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.maintain .box {
	float: left;
	width: 310px;
	margin-left: 13px;
	background-color: #FFFFFF;
	border: 1px solid #439411;
	margin-bottom: 8px;
	margin-top: 5px;
	height: 222px;
}
.maintain .box .head {
	height: 56px;
	width: 100%;
	background-color: #E7F5F0;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	float: left;
}
.maintain .box .b1 {
	float: left;
	width: 66px;
	padding-left: 50px;
}

.maintain .box .b2 {
	float: left;
	height: 28px;
	width: 100%;
	text-align: right;
}


.maintain .box .a-letter-m1 {
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}
.maintain .box .a-letter-mq {
	font-size: 13px;
	color: #D52B00;
	text-decoration: none;
	line-height: 22px;
}
.maintain .box a:hover {
	font-size: 13px;
	color: #0033CC;
	text-decoration: none;
}

.maintain .box .a-letter-ma {
	font-size: 13px;
	color: #3AAF75;
	text-decoration: none;
	line-height: 20px;
}
.maintain .a-letter-more {
	font-size: 15px;
	font-weight: bold;
	color: #333366;
	text-decoration: none;
	text-align: right;
	padding-right: 30px;
}

.maintain .box .p1 {
	background-image: url(../image/m01.gif);
	background-repeat: no-repeat;
	height: 56px;
	width: 175px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.maintain .box .p1:hover {
	background-image: url(../image/m01-2.gif);
	background-repeat: no-repeat;
}

.maintain .box .p2 {
	background-image: url(../image/m02.gif);
	background-repeat: no-repeat;
	height: 56px;
	width: 175px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.maintain .box .p2:hover {
	background-image: url(../image/m02-2.gif);
	background-repeat: no-repeat;
}
.maintain .box .p3 {
	background-image: url(../image/m03.gif);
	background-repeat: no-repeat;
	height: 56px;
	width: 175px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.maintain .box .p3:hover {
	background-image: url(../image/m03-2.gif);
	background-repeat: no-repeat;
}
.maintain .box .p4 {
	background-image: url(../image/m04.gif);
	background-repeat: no-repeat;
	height: 56px;
	width: 175px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.maintain .box .p4:hover {
	background-image: url(../image/m04-2.gif);
	background-repeat: no-repeat;
}
.maintain .box .p5 {
	background-image: url(../image/m05.gif);
	background-repeat: no-repeat;
	height: 56px;
	width: 175px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.maintain .box .p5:hover {
	background-image: url(../image/m05-2.gif);
	background-repeat: no-repeat;
}

.maintain .box .content {
	width: 310px;
	float: left;
}
.maintain .box .b3 {
	float: left;
	height: 20px;
	width: 21px;
	padding-left: 22px;
}

.maintain .box .ps1 {
	background-image: url(../image/ms01.gif);
	background-repeat: no-repeat;
	height: 20px;
	padding-left: 22px;
	text-decoration: none;
	margin-left: 22px;
}
.maintain .box .ps2 {
	background-image: url(../image/ms02.gif);
	background-repeat: no-repeat;
	height: 20px;
	padding-left: 22px;
	text-decoration: none;
	margin-left: 22px;
}
.maintain .box .pmore {
	background-image: url(../image/more.gif);
	background-repeat: no-repeat;
	float: right;
	height: 22px;
	width: 90px;
}
.maintain .box .pmore:hover {
	background-image: url(../image/more-2.gif);
	background-repeat: no-repeat;
}

.maintain .bigbox {
	width: 100%;
	background-color: #acd156;
}
.maintain .bigbox .head {
	padding: 4px;
	height: 20px;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	background-color: #eaf7ca;
	text-align: center;
	font-weight: bold;
}
.maintain .bigbox .row1_bg {
	background-color: #fefee7;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	width: 20%;
	padding: 4px;
}
.maintain .bigbox .row2_bg {
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	width: 10%;
	background-color: #FEFEE7;
	padding: 4px;
}

.maintain .bigbox .row3_bg {
	width: 3%;
	background-color: #FEFEE7;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	padding: 4px;
}
.maintain .bigbox .row4_bg {
	background-color: #FEFEE7;
	width: 25%;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	padding: 4px;
}
.maintain .bigbox .row5_bg {
	background-color: #FEFEE7;
	width: 28%;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	padding: 4px;
}
.maintain .bigbox .row6_bg {
	background-color: #FEFEE7;
	width: 5%;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	padding: 4px;
}
.maintain .bigbox a {
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}
/*討論區*/
.talk  {
	width: 100%;
	background-color: #acd156;
}
 .talk .box .head {
	padding: 4px;
	height: 20px;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	background-color: #eaf7ca;
	text-align: center;
	font-weight: bold;
}
.talk .box .row1_bg {
	background-color: #fefee7;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	width: 16%;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.talk .boxA{
	float: left;
	}

.talk .box .t1 {
	
	width: 36px;
	float: left;
	height: 20px;
	}

.talk .box .t11 {
	width: 32px;
	float: left;
	height: 20px;
	background-image: url(../image/ms01.gif);
	background-repeat: no-repeat;
	padding-left: 2px;
		border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #D7F09B;
}
.talk .box .t12 {
	width: 32px;
	float: left;
	height: 20px;
	padding-left: 2px;
	

	}
.talk .box .t13 {
	width: 32px;
	float: left;
	height: 20px;
	padding-left: 2px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #d7e09b;	
	}	
.talk .box .t2 {
	width: 325px;
	float: left;
	color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #D7F09B;
}
.talk .box a:hover {
	font-size: 13px;
	color: #FF0000;
	text-decoration: none;
}
.talk .box a {
}

.talk .box .t3 {
	width: 325px;
	float: left;
}

.talk .box .row1_bg {
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	width:360px;
	background-color: #FEFEE7;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 12px;
}

.talk .box .row3_bg {
	width: 170px;
	background-color: #FEFEE7;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	padding: 4px;
}

.talk .box .row5_bg {
	background-color: #FEFEE7;
	width: 98px;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	padding: 4px;
	text-align: center;
}
.talk .box .row6_bg {
	background-color: #FEFEE7;
	width: 50px;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	padding: 4px;
	text-align: center;
}
.talk .box .row7_bg {
	background-color: #FEFEE7;
	width: 65px;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	padding: 4px;
	text-align: center;
}
.talk .box .row8_bg {
	background-color: #FEFEE7;
	width: 50px;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	padding: 4px;
	text-align: center;
}
.talk .box .row9_bg {
	background-color: #FEFEE7;
	width: 50px;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	padding: 4px;
	text-align: center;
}
.talk .box .row10_bg {
	background-color: #FEFEE7;
	width: 50px;
	font-size: 8px;
	color: #666666;
	text-decoration: none;
	padding: 4px;
	text-align: center;
}
.talk .box a {
	font-size: 13px;
	color: #009966;
	text-decoration: none;
}


/*美食區*/
.food {
	width: 77%;
	margin-right: auto;
	margin-left: auto;
}
.food .boxA {
	width: 580px;
	float: left;
	margin-top: 2px;
	margin-bottom: 10px;
	}
.food .box {
	width: 782px;
	float: left;
	margin-top: 8px;
	margin-bottom: 8px;
}

.food .box .head {
	width: 158px;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	line-height: 28px;
	color: #333333;
	float: left;
	background-color: #F2F9F2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9FC1BB;
	height: 56px;
}

.food .box .content {
	width: 622px;
	float: right;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #F3CE4E;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #F3CE4E;
}
.food .box .b1 {
	height: 26px;
	background-image: url(../image/food_2.gif);
	background-repeat: no-repeat;
	float: left;
	width: 28px;
}
.food .box .b2 {
	width: 578px;
	float: left;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	line-height: 26px;
	padding-top: 2px;
	padding-right: 15px;
}
.food .box .b3 {
	width: 579px;
	float: right;
	height: 30px;
	padding-right: 15px;
}

.food .box .a-letter-t2 {
	font-size: 13px;
	color: #009966;
	text-decoration: none;
	line-height: 22px;
}
.food .box .a-letter-t1 {
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	vertical-align: middle;
	line-height: 24px;
}
.food .box a:hover {
	font-size: 13px;
	color: #FF0000;
	text-decoration: none;
}
.food .box .ps1 {
	background-image: url(../image/food_2.gif);
	background-repeat: no-repeat;
	height: 24px;
	text-decoration: none;
	padding-top: 2px;
	padding-left: 26px;
}
.food .box .ps2 {
	background-image: url(../image/ms02.gif);
	background-repeat: no-repeat;
	height: 22px;
	padding-left: 22px;
	text-decoration: none;
	margin-left: 35px;
}
.food .box .ps3 {
	background-image: url(../image/ms03.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	margin-left: 3px;
}


/*樓層*/

.floor {
	width: 77%;
	margin-right: auto;
	margin-left: auto;
}
.floor .boxA {
	width: 580px;
	float: left;
	margin-top: 2px;
	margin-bottom: 10px;
	}
.floor .box {
	width: 782px;
	float: left;
	margin-top: 8px;
	margin-bottom: 8px;
}

.floor .box .head {
	width: 158px;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	line-height: 28px;
	color: #333333;
	float: left;
	background-color: #F2F9F2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9FC1BB;
	height: 36px;
}

.floor .box .content {
	width: 620px;
	float: right;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #F3CE4E;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #F3CE4E;
}
.floor .box .b1 {
	height: 36px;
	background-image: url(../image/food_2.gif);
	background-repeat: no-repeat;
	float: left;
	width: 28px;
}
.floor .box .b2 {
	width: 470px;
	float: left;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	line-height: 26px;
	padding-top: 2px;
}
.floor .box .b3 {
	width: 100px;
	float: left;
	height: 30px;
	padding-top: 2px;
	padding-left: 10px;
}
.floor .box .content .b3 ul li {
	float: left;
	padding-right: 12px;
	padding-left: 12px;
}

.floor .box .a-letter-t2 {
	font-size: 13px;
	color: #009966;
	text-decoration: none;
	line-height: 22px;
}
.floor .box .a-letter-t1 {
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	vertical-align: middle;
	line-height: 24px;
}
.floor .box a:hover {
	font-size: 13px;
	color: #FF0000;
	text-decoration: none;
}
.floor .box .ps1 {
	background-image: url(../image/food_2.gif);
	background-repeat: no-repeat;
	height: 24px;
	text-decoration: none;
	padding-top: 2px;
	padding-left: 26px;
}
.floor .box .ps2 {
	background-image: url(../image/ms02.gif);
	background-repeat: no-repeat;
	height: 22px;
	padding-left: 22px;
	text-decoration: none;
	margin-left: 35px;
}
.floor .box .ps3 {
	background-image: url(../image/ms03.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	margin-left: 3px;
}
.floor .box .headfloor {
	width: 90px;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	line-height: 28px;
	color: #333333;
	float: left;
	margin-left: 4px;
	padding-left: 4px;
	margin-top: 8px;
	height: 60px;
	background-color: #F2F9F2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9FC1BB;
}

.floor .box .b1_floor {
	width: 28px;
	height: 54px;
	background-image: url(../image/food_4.gif);
	background-repeat: no-repeat;
	float: left;
	margin-left: 8px;
	margin-top: 4px;
}




/*首頁的---*/
.first  {
	width: 100%;
	background-color: #FFFFFF;
	padding-top: 8px;

}
.first .head {
	width:95%;
	float: left;
	height: 28px;
	padding-left: 14px;
	}
.first .header2
{
	text-align:left;
	position:relative;
	background-repeat: repeat;
	line-height: 26px;
	font-size: 15px;
	color: #333333;
	text-decoration: none;
}
.first .in6 {
	background-image: url(../image/a52.gif);
	background-repeat: no-repeat;
	height: 37px;
	text-decoration: none;
	vertical-align: bottom;
	width: 400px;
	float: left;
	padding-left: 70px;
	margin-left: 22px;
	padding-top: 8px;
	font-size: 15px;
	color: #333333;
	padding-right: 30px;
	letter-spacing: 12px;
}
.first .big2Div {
	float: left;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 16px;
	
	}
.first .icon_a29 {
	width: 103px;
	float: left;
	height: 28px;
	rder-top-color: #d7e09b;
	background-image: url(../image/a29-1.gif);
	background-repeat: no-repeat;
	margin-left: 25px;
	}
.first .icon_a29:hover {
	background-image: url(../image/a29.gif);
	background-repeat: no-repeat;
	height: 28px;
	width: 103px;
}
.first .icon_a30 {
	width: 103px;
	float: left;
	height: 28px;
	rder-top-color: #d7e09b;
	background-image: url(../image/a30-1.gif);
	background-repeat: no-repeat;
	margin-left: 25px;
	}
.first .icon_a30:hover {
	background-image: url(../image/a30.gif);
	background-repeat: no-repeat;
	height: 28px;
	width: 103px;
}

.first .big2  {
	width: 526px;
	background-color: #FFFFFF;
	margin-left: 25px;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #B1CE7A;
	border-right-color: #B1CE7A;
	border-bottom-color: #B1CE7A;
	border-left-color: #B1CE7A;
	float: left;
}

.first .big2 .row1 {
	background-image: url(../image/a14-3.gif);
	background-repeat: no-repeat;
	width: 425px;
	height: 28px;
	margin-left: 10px;
	padding-left: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #afde6c;
	margin-top: 4px;
}

.first .big2 .row2 {
	width:80px;
	text-align: left;
	font-size: 13px;
	line-height: 22px;
	color: #666666;
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #afde6c;
}
.first .big2 a {
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	line-height: 28px;
}
.first .big2 a:hover {
	font-size: 13px;
	color: #FF0000;
	text-decoration: none;
}

.first .rowdiv {
	width: 100%;
	float: left;
	margin-top: 4px;
	margin-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #afde6c;
	text-decoration: none;
}
.first .row_1 {
	width: 180px;
	float: left;
	color: #666666;
	background-color: #EBF7CC;
	height: 22px;
	font-size: 13px;
	text-decoration: none;
	line-height: 24px;
	margin-top: 4px;
	padding-left: 4px;

}


.first .row_2 {
	width: 182px;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	line-height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #afde6c;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.first a {
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	line-height: 22px;
}

.first a:hover {
	font-size: 13px;
	color: #FF0000;
	text-decoration: none;
}
.first .photo {
	width:152px;
	background-image: url(../image/photo.gif);
	background-repeat: no-repeat;
	height: 112px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #6B9C23;
	padding: 1px;
	background-position: center center;
}

.first .dot_a51 {
	background-image: url(../image/a51.gif);
	background-repeat: no-repeat;
	height: 22px;
	text-decoration: none;
	padding-left: 22px;
	line-height: 28px;
	margin-left: 8px;
	font-size: 13px;
	color: #666666;
}


/*首頁new*/

.app {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
.app .boxA {
	width: 100%;
	float: left;
	margin-top: 5px;
	}
.app .box {
	width: 82%;
	float: right;
	margin-bottom: 10px;
}

.app .boxA .head {
	width: 17%;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	line-height: 32px;
	color: #333333;
	float: left;
	background-color: #F2F9F2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9FC1BB;
	height: 50px;
	font-weight: bold;
}

.app .box .content {
	width: 19%;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #afde6c;
	border-bottom-color: #afde6c;
	border-left-color: #afde6c;
}
.app .box .b1 {
	height: 26px;
	background-image: url(../image/food_2.gif);
	background-repeat: no-repeat;
	float: left;
	width: 28px;
}


.app .box .b2 {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 26px;
	background-image: url(../image/app_4.gif);
	background-repeat: repeat;

}
.app .box .b3 {
	width: 160px;
	float: left;
}

.app .box .a-letter-t2 {
	font-size: 13px;
	color: #009966;
	text-decoration: none;
	line-height: 22px;
}
.app .box .a-letter-t1 {
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	vertical-align: middle;
	line-height: 24px;
}
.app .box a:hover {
	font-size: 13px;
	color: #FF0000;
	text-decoration: none;
}
.app .box .ps1 {
	background-image: url(../image/app_1.gif);
	background-repeat: no-repeat;
	height: 17px;
	text-decoration: none;
	margin-left: 6px;
	text-indent: 22px;
	padding-top: 2px;
}
.app .box .ps2 {
	background-image: url(../image/app_2.gif);
	background-repeat: no-repeat;
	height: 22px;
	text-indent: 18px;
	margin-left: 16px;
}
.app .box .ps3 {
	background-image: url(../image/ms03.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	margin-left: 3px;
}
