.pager
{
     clear: both;
    color: #999999;
    line-height: 150%;
    margin: 0 0 5px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    top: 10px;
    left: 0px;
}
    
.pager span span
{
     color: #ff0000;
    }
    
.pager a
{
    color: #999999;
    font-size: 15px;
    text-decoration:none;
}

.googleNavegationBar
{
    color: black; 
    background-color:#EEF8D3; 
    font-family:Arial; 
    font-style:normal; 
    font-size:13px;  
    BORDER-LEFT: #CCCCCC 1px solid; 
    BORDER-RIGHT: #CCCCCC 1px solid; 
    BORDER-TOP: #CCCCCC 1px solid; 
    BORDER-BOTTOM: #CCCCCC 1px solid; 
    padding: 0px 10px 0px 10px;
}